@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Font Orbitron para o header */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  overflow-x: hidden;
}